---
layout: default
title: Writing
---
<h2>Writing</h2>
<br>
{% for post in site.posts limit:50 %}
  {% if post.categories contains 'writing' %}
  <div class="post">

  {{ post.content }}
  <p class="signoff">
    &mdash;<a href="{{ post.url }}">{{ post.date | date: "%b %d, %Y" }}</a>

&nbsp;&nbsp;&nbsp;
<g:plusone count="false" size="small" href="http://wgrover.com{{ post.url }}"></g:plusone>
&nbsp;&nbsp;&nbsp;
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://wgrover.com{{ post.url }}" data-text="{{ post.title }}" data-count="none" data-via="wgrover">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	
  </p>



        <br><br>
  </div>
  {% endif %}
{% endfor %}
