p {
	margin-right: 100px;
	margin-left: 100px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	margin-top: 5px;
	font-family: sans-serif;
}

h2 {
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 15px;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: sans-serif;
}

h1 {
	margin-bottom: 0px;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
	font-family: sans-serif;
}

h3 {
	font-style: normal;
	font-weight: normal;
	margin-right: 20px;
	margin-left: 20px;
	font-family: sans-serif;
}


img { margin: 10px; float: left } 

hr { border: 0; width: 80%; color: #f00; background-color: #f00; height: 5px; }

h4 {
	margin-right: 20px;
	margin-left: 20px;
	font-family: sans-serif;
}

h5 {
	margin-bottom: 0px;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;
	font-family: sans-serif;
}

a {
	font-style: normal;
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	color: #7f7f7f;
	font-family: sans-serif;
}