---
layout: default
title: Writing
---
<h2>Writing</h2>
<br>
{% for post in site.posts limit:50 %}
  {% if post.categories contains 'writing' %}
  <div class="post">
		<hr>
  {{ post.content }}
  <p class="signoff">
    &mdash;<a href="{{ post.url }}">{{ post.date | date: "%b %d, %Y" }}</a>

    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="wgrover">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	
  </p>



        <br><br>
  </div>
  {% endif %}
{% endfor %}
