<p>I'll be teaching an <a href="http://student.mit.edu/searchiap/iap-b209.html">Introduction to LabVIEW class</a> as part of IAP at MIT on Tuesday January 17, 3:00 - 4:30 in <a href="http://whereis.mit.edu/?go=76">76-259</a>.</p>
<br>
<p>
I'll be speaking about "Measuring single cell mass, volume, and density" at <a href="http://pittcon.org">Pittcon</a> in Orlando FL on Wednesday March 14 at 4:15, in the "Detection strategies for microfluidic devices" session, room 207B.</p>
<br>

<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 10,
  interval: 30000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#000000'
    },
    tweets: {
      background: '#ffffff',
      color: '#000000',
      links: '#aaaaaa'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('wgrover').start();
</script>
