<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link href="screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<!-- <link href="wgrover.css" rel="stylesheet" type="text/css" /> -->
    <title>Name &mdash; {{ page.title }}</title>
    {% include analytics.html %}
  </head>
  <body>
      <h1>William H. Grover</h1>
        See also the <a href="/archive.html" title="Archive">archive</a>,
        <a href="/books_talks.html">books & talks</a>.
      </h1>
      {{ content }}
        <a href="/" title="Home">Home</a> &bull;
        <a href="/about.html" title="About the author and site">About</a> &bull;
        <a href="/archive.html" title="Archived writing">Archive</a> &bull;
        <a href="/books_talks.html" title="Books and talks">Books & Talks</a>
  </body>
</html>