<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href="../../../../../../../../wgrover.css" rel="stylesheet" type="text/css" />
    <title>William H. Grover &mdash; {{ page.title }}</title>
    {% include analytics.html %}

	<!-- Place this tag in your head or just before your close body tag -->
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  </head>
  <body>
      <div id="wrapper">
          <div id="header">
      <h1>William H. Grover</h1>
	<h2>		
		<a href="http://wgrover.com/">Research</a> &nbsp&nbsp
		<a href="http://wgrover.com/books-chapters">Books &amp; Chapters</a> &nbsp&nbsp
		<a href="http://wgrover.com/writing">Writing</a> &nbsp&nbsp
		<a href="http://wgrover.com/graphics">Graphics</a> &nbsp&nbsp
		<a href="http://wgrover.com/code">Code</a> &nbsp&nbsp
		<a href="http://wgrover.com/about">About</a> &nbsp&nbsp
		</h2>
		</div>
<div id="leftcolumn">
      {{ content }}
</div>
<div id="rightcolumn">
    <h2>News</h2>
    <br>
    {% include news.html %}
    </div>
    <div id="footer">
	<h2>
		<a href="http://wgrover.com/">Research</a> &nbsp&nbsp
		<a href="http://wgrover.com/books-chapters">Books &amp; Chapters</a> &nbsp&nbsp
		<a href="http://wgrover.com/writing">Writing</a> &nbsp&nbsp
		<a href="http://wgrover.com/graphics">Graphics</a> &nbsp&nbsp
		<a href="http://wgrover.com/code">Code</a> &nbsp&nbsp
		<a href="http://wgrover.com/about">About</a>
		</h2>
	</div>
	</div>
  </body>
</html>