<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
	<!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700,400,400italic,700italic' rel='stylesheet' type='text/css'> -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<!-- <link href="screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> -->
	<link href="../../../../../../../../wgrover.css" rel="stylesheet" type="text/css" />
    <title>William H. Grover &mdash; {{ page.title }}</title>
    {% include analytics.html %}

	<!-- Place this tag in your head or just before your close body tag -->
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  </head>
  <body>
      <h1>William H. Grover</h1>
    <p>
	<h2>
		<a href="http://wgrover.com/">Research</a> |
		<a href="http://wgrover.com/books-chapters">Books &amp; Chapters</a> |
		<a href="http://wgrover.com/writing">Writing</a> |
		<a href="http://wgrover.com/code">Code</a> |
		<a href="http://wgrover.com/about">About</a>
		</h2>
	</p>
	<br>
	<br>
      {{ content }}
    <p>
	<br>
	<br>
	<h2>
		<a href="http://wgrover.com/">Research</a> |
		<a href="http://wgrover.com/books-chapters">Books &amp; Chapters</a> |
		<a href="http://wgrover.com/writing">Writing</a> |
		<a href="http://wgrover.com/code">Code</a> |
		<a href="http://wgrover.com/about">About</a>
		</h2>
	</p>
  </body>
</html>