---
layout: default
---
<!-- <h2>An individual post follows.</h2> -->
<article class="post">
{{ content }}
<br>
<time class="signoff" datetime="{{ page.date | date: "%Y-%m-%d" }}">
  &mdash;{{ page.date | date: "%b %d, %Y" }}

&nbsp;&nbsp;&nbsp;
<g:plusone count="false" size="small" href="http://wgrover.com/writing/2012/04/12/cant-return-to-tennessee.html"></g:plusone>
&nbsp;&nbsp;&nbsp;
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://wgrover.com/writing/2012/04/12/cant-return-to-tennessee.html" data-text="Why I can't return to Tennessee" data-count="none" data-via="wgrover">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

</time>
</article>
